@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-Quicksand: "Quicksand", sans-serif;
  --font-Titulo: "Work Sans", sans-serif;
  --shadow-4xl: -1px 6px 1px #d77200;
  --shadow-btn: -1px 6px 1px black;
  --drop-shadow-Titulo: -1px 9px 1px black;
  --animate-salto: Salto 1s;
  --animate-moveX: moveX 1s forwards;
  --animate-moveAve: moveAve 1s forwards;

  @keyframes Salto {
    0% {
      transform: translateY(200px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes moveX {
    0% {
      transform: translateY(200px);
      /* transform : scale(0.3) */
    }

    100% {
      transform: translateY(-50px);
    }
  }

  @keyframes moveAve {
    0% {
      transform: translateX(-100px);
    }

    100% {
      transform: translateX(100px);
    }
  }
}

.customBoton {
  @apply border bg-white border-black rounded-md py-2  px-4 cursor-pointer  shadow-btn  hover:shadow active:scale-110 transition-all duration-150 ease-linear;
}

.customNavbarBtn {
  @apply hover:border-b  border-white;
}
.puntero-triangulo::before {
  content: " ";
  position: absolute;
  top: -9px;
  right: 3px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #ff6a00;
}
.noScroll {
  touch-action: none;
}
